
<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <a class="px-6 py-3 rounded-full text-white font-bold mt-4 btn-primary" href="/menu" >Order Now</a>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-dosa.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Menu</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% Dosas.forEach(function(Dosa) { %>
        <%if(Dosa.catagory==='Sada Dosa'){%>
        <div class="w-full md:w-64">
            <img class="h-40 mb-4 mx-auto" src="/upload/<%= Dosa.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= Dosa.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= Dosa.category %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= Dosa.price %></span>
                    <button data-pizza="<%= JSON.stringify(Dosa) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <%}if(Dosa.catagory==='Masala Dosa'){ %>
        <div class="w-full md:w-64">
            <img class="h-40 mb-4 mx-auto" src="/upload/<%= Dosa.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= Dosa.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= Dosa.category %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= Dosa.price %></span>
                    <button data-pizza="<%= JSON.stringify(Dosa) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <%}}) %>

    </div>
</section>